<h1>Chat</h1>

<ul id="chat">
</ul>
<h4>you can check out anytime you like, but you can never back</h4>
<%= form_for Message.new, remote: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<div id="subscribe">
  <% if @channel_num %>
    <%= subscribe_to "/messages/#{@channel_num}" %>
  <% end %>
</div>


<button id="disconnect">Disconnect</button>

