<div id="try-connect">
  <h1>Welcome!</h1>
  <p style="font-family:fantasy">Read Comics while waiting</p>
</div>
<button id="connect" class='btn connect-btn-lg'>Connect!</button>

<button id="draw-together" class='btn draw-btn-lg'>Draw Together!</button>
<div id="img-stuff">
</div>
<p id="created_by">@Created by Yiyang Song</p>

