<div id="try-connect">
  <h2>Welcome,  <span id="skyerId">Skyer<%=current_user.id%></span></h2>
  <h3>Try connect will let you chat and draw fun with other Skyers</h3>
</div>
<button id="connect" class='btn connect-btn-lg'>Connect</button>
<div id="img-stuff">

</div>
