
<div id="try-connect">
  <h1>Welcome!</h1>
  <p style="font-family:fantasy">Read Comics while waiting</p>
</div>
<button id="connect" class='btn connect-btn-lg'>Connect</button>
<div id="img-stuff">
</div>

