/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import 'flat-ui';

canvas {
  border: 1px solid #000;
}
#sharedCanvas1{
  border: 2px solid #2980b9;
}
#sharedCanvas2{
  border: 2px solid #1abc9c;
}

#controls ul {
  list-style-type: none;
  padding: 0;
}

#colors li {
  cursor:pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.inline {
  display: inline-block;
}

/*Pen Controls*/

#controls {
  height: 150px;
  display:table-cell;
}

#controls div {
  margin: 10px;
}

#pen {
  text-align: center;
  width: 50px;
  height: 70px;
}

#size-preview {
  border-radius: 50%;
  margin: 0 auto;
  background: tomato;
  width: 5px;
  height: 5px;
}

#pen-size {
  height: 100px;
  width:200px;
  input{
    cursor:pointer;
  }
}

/* Color Palette */

#tomato {
  background: tomato;
}

.turquoise {
  background: #1abc9c;
}

.silver {
  background-color: #bdc3c7;
}

#orange {
  background: orange;
}

.sunflower {
  background: #f1c40f;
}

.wetasphalt {
  background: #34495e;
}

.belizehole {
  background: #2980b9;
}

.westeria {
  background:#8e44ad;
}
#connect {
  text-align: center;
  position:absolute;
  left: 50%;
  margin-left: -130px;
  background-color: #2ecc71;
  width:15em;
  height:2em;
  margin-top:60px;
  bottom: 50px;
}

#img-stuff {
  margin-left: -200px;
  left:50%;
  position:absolute;
  width: 400px;
  height: 350px;
  background-size: 100% 100%;
}

#try-connect {
  color: #2c3e50;
  text-align: center;
  position:relative;
  h1{
    font-family: 'Sofadi One', cursive;
  }
}

.notice, .alert {
  display: none;
  margin: 0 auto;
  padding: 0 10px;
  width: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0;
}

.send-btn {
  background-color: #2980b9;
  width: 100px;
}


#chat-stuff {
  display:inline-block;
  margin-top: 50px;
  position:absolute;
  margin-left:auto;
  left:30px;
  #chat{
    width:100%;
    height:300px;
  }
}
#disconnect {
  float:right;
  top:0;
}

#sharedCanvas {
  position:fixed;
  right:15%;
  list-style-type:none;
}

#input-form{
  width:500px;
  height:40px;
  background-color:#ecf0f1;
  border-color:#34495e;
}

#draw {
  float:left;
  margin-top:500px;
  bottom:0;
  margin-left:30px;

}
#myCanvas{
  cursor: image-url("Pencil.cur"), auto;
}
#buttons{
  #clear{
    background-color:#c0392b;
  }
  #hide-controls{
    background-color:#7f8c8d;
  }
  #show-controls{
    background-color: #27ae60;
  }
}

#chat-msg {
  font-size:16px;
  font-family:'Sofadi One', cursive;
}

.skyer {
  font-style:italic;
  cursor:default;
}

#skyerId {
  color:#e74c3c;
  font-style:italic;
}

#picker {
  color: #7f8c8d;
  display:table;
  font-size:20px;
  font-family: serif;
  cursor:default;
}
