
<h1 id="main-h1">SkySong<br><h4 id='info-info'>Draw and Chat with strangers!</h4></h1>
<%= button_to "Here to Start!", new_user_registration_path, class: 'btn main-here-btn' %>
<div id='info-1'>
  <h1>You can Chat</h1>
  <div id='info-1-div'></div>
</div>
<div id="info-2">
  <h1>You can Draw</h1>
  <div id='info-2-div'></div>
</div>
<div id="info-3">
  <h1>You can Always compare with other @skyers</h1>
  <div id="info-3-div"></div>
</div>
